<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        
        </head>
<body>
    
        <p>
            
                {{>header}}
            
            <p>hello world</p>
            <form>
                <input placeholder="location" id="input">
                <button id= "search">search</button>
            </form>
        </p>
         <p id="mess1"></p>
        <p id="mess2"></p>
        <p id="mess3"></p>
        {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>